body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("imagens/background.png");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  text-decoration: underline overline #b22222;
}


.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}


div#categoria{
  background-color: black;
  color: #ffffff;
  font-size: 30px;
  text-decoration: underline #b22222;
  position: center;
}


button{
  border-radius: 50px;
  padding: 10px;
  font-weight: bolder;
  background-color: white;
  color: red;
}


button:hover{
  background-color: red;
  color: white;
}

body > img {
  margin: 0 10px;
  padding: 10px;
}


@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 var(--cor-neon));
  }
  to {
    filter: drop-shadow(0 0 30px var(--cor-neon));
  }
}

.posterBox{
  display: flex;
  flex-direction: row;
  overflow-x: scroll
}

.cartaz:hover{
  top: 10px;
  box-shadow:0 20px 19px whitesmoke;
}

.cartaz{
  display: inline-block;
	justify-content: center;
	Color: black;
	border: 5px solid black;
	width: auto;
	height: auto;
	margin: 15px;
  animation: neon 2s alternate infinite ease-in-out;
  --cor-neon: black;
  
}

.fundo{
  background-color: #00000050;
  width:75%;
  margin: auto; 
}

.conteudo{
  display: inline-block;
	justify-content: center;
	Color: red;
	width: 280px;
  border: 5px solid black;
	margin: 15px;
  animation: neon 2s alternate infinite ease-in-out;
  --cor-neon: red;
}



h3{
  color: #ffffff;
}