body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("imagens/background_1.png");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

header {
  background-color: #181818;
  padding-top: 10px;
  width: 100%;
  margin-top: 0;
}

.page-title {
  color: white;
  margin: 10px 0;
  font-size: 50px;
  text-decoration: underline overline #b22222;
}

nav {
  background-color: #222222;
  padding: 10px;
}

button{
  border-radius: 15px;
  padding: 10px;
  font-weight: 900;
  background-color: white;
  color: red;
  font-size: 18px;
}

button:hover{
  background-color: red;
  color: white;
}

#categoria{
  background-color: #000000a2;
  color: white;
  font-size: 30px;
  text-decoration: underline red;
  padding: 0 20px;
  width: fit-content;
  margin: auto;
}

.fundo{
  background-color: #00000093;
  width:75%;
  margin: auto; 
}

.conteudo{
  display: inline-block;
	justify-content: center;
	width: 280px;
  border: 5px solid black;
	margin: 15px;
  animation: neon 2s alternate infinite ease-in-out;
  --cor-neon: red;
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 var(--cor-neon));
  }
  to {
    filter: drop-shadow(0 0 15px var(--cor-neon));
  }
}

.cartaz{
	border: 5px solid black;
	margin: 15px;
  animation: neon 2s alternate infinite ease-in-out;
  --cor-neon: black;
}

.cartaz:hover{
  box-shadow:0 0px 20px whitesmoke;
}

body img {
  margin: 0 10px;
  padding: 10px;
}

h3{
  color: white;
}

footer {
  background-color: #181818;
  padding: 10px 0;
  color: white;
  font-size: 15px;
  width: 100%;
}
